body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin:0;
	padding:0;
}
a{
	color: #555;
	text-decoration: none;
}

.left_slide{ width:1000px; height:auto; float:left;}
.jms-slideshow {
	position: relative;
	width: 843px;
	/*max-width: 1400px;
	min-width: 640px;*/
	height: 330px;
	float:left;
}
.jms-wrapper {
	width: auto;
	min-width: 600px;
	height: 330px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding;
	-moz-background-clip: padding;     
	background-clip: padding-box;
	/*border: 10px solid #fff;
	border: 10px solid rgba(255, 255, 255, 0.9);*/
	outline: none;
	-webkit-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-o-transition: background-color 1s linear;
	-ms-transition: background-color 1s linear;
	transition: background-color 1s linear;
}
.color-1 {
	background:url(../image/1_bg.png) left top no-repeat #fff;
	/*background-color: rgba(227, 216, 268, 1);*/
}
.color-2 {
	background:#f4f5e3;
	background-color: rgba(253, 255, 232, 1);*/
}
.color-3 {
	background:#fff;
	background-color: rgba(255, 255, 255, 1);
}
.color-4 {
	background-color: #DFEBB1;
	background-color: rgba(223, 235, 177, 1);
}
.color-5{
	background-color: #fff;
	background-color: rgba(255, 255, 255, 1);
}
.step {	
	width: 684px;
    height: 310px;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.step:not(.active) {
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}
.jms-content{
	margin: 0px 370px 0px 20px;
	position: relative;
	clear: both;
}
.step h3{
	color: #333;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin: 0;
	padding: 60px 0 10px 0;
}
.step p {
	color: #333;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-size: 20px;
	font-weight: normal;
	position: relative;
	margin: 0;
}
a.jms-link{
	color: #fff;
	text-transform: uppercase;
	background: #969696; /* Old browsers */
	background: -moz-linear-gradient(top, #969696 0%, #727272 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#727272)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #969696 0%,#727272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #969696 0%,#727272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #969696 0%,#727272 100%); /* IE10+ */
	background: linear-gradient(top, #969696 0%,#727272 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
	padding: 8px 15px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid #444;
	border-radius: 4px;
	opacity: 1;
	margin-top: 40px;
	clear: both;
	-webkit-transition: all 0.4s ease-in-out 1s;
	-moz-transition: all 0.4s ease-in-out 1s;
	-ms-transition: all 0.4s ease-in-out 1s;
	-o-transition: all 0.4s ease-in-out 1s;
	transition: all 0.4s ease-in-out 1s;
}
.step:not(.active) a.jms-link{
	opacity: 0;
	margin-top: 80px;
}
.step img{
	position: absolute;
	right: 10px;
	top: 10px;
}
.jms-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #777;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.3);
}
.jms-dots span.jms-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.jms-arrows{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-arrows span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	width: 30px;
	cursor: pointer;
	z-index: 2000;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}
.jms-arrows span.jms-arrows-prev{
	background: #fff url(../image/arrow_left2.png) no-repeat 50% 50%;
	left: -10px;
}
.jms-arrows span.jms-arrows-next{
	background: #fff url(../image/arrow_right2.png) no-repeat 50% 50%;
	right: -10px;
}
/* Not supported style */
.jms-wrapper.not-supported{
	background-color: #E3D8FF;
	background-color: rgba(227, 216, 268, 1);
}
.jms-wrapper.not-supported:after{
	content: 'The slideshow functionality is not supported on your device.';
	padding: 0px 0px 30px 0px;
	text-align: center;
	display: block;
}
.jms-wrapper.not-supported .step{
	display: none;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	margin: 20px auto;
}
.jms-wrapper.not-supported .step:first-of-type{
	display: block;
}
.jms-wrapper.not-supported .step:not(.active) a.jms-link{
	opacity: 1;
	margin-top: 40px;
}
.right_quote{ width:276px; height:auto; float:left; margin:0 10px;}
.right_quote h3{ content:'Why Join Us'; color:#fff;margin:0px; padding:10px; text-transform:uppercase; background-color:#000; font-size:15px;}
.some_text{ width:256px; height:auto; float:left; margin:0 10px;}
.some_text p{ margin:0; padding:0; border-bottom:1px dotted #333; padding:9px 0;}

.join_button{ width:276px; height:auto; float:left;}
.join_button a{width: auto;
line-height: 35px;
height: 35px;
background-color: #000;
color: white;
text-align: center;
display: block;
font-style: normal;
text-decoration: none;
font-size: 21px;
transition: 0.3s all linear;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
letter-spacing: 2px;
margin-top: 10px;
}
a {
color: #555;
text-decoration: none;
}
user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
.join_button a:hover{ transition:0.3s all linear; background-color:#000; color:white;}
.join_button a:active{ transition:0.2s all linear; background-color:#000; color:white;}




#example {
	display: block;
	height: 150px;
}

#example1, #example2 {
	display: inline-block;
	height: 200px;
	width: 500px;
	vertical-align: top;
}

.arrow, .arrow2 {
	font-size: 12px;
	position: absolute;
	margin: 3em 15em;
	font-family: "Coming Soon";
	color: #3f3f3f;
}

.arrow2 {
	margin-left: 35em;
}


	.arrow img, .arrow2 img {
		vertical-align: middle;
	}

	
.search-box1, .search-box2 {
	margin-top: -.6em;
	display: block;
	position: absolute;
	width: 500px;
	height: 80px;
	padding: 10px 6px;
   background-color:#DFDFDF;
	border-radius: 5px;


								
}

	.search-box1 input, .search-box2 input, .wrapper-simple input[type=text] {
		font-family: 'Open Sans Condensed','Arial Narrow', serif;
		font-weight: bold;
		color: #3F3F3F;
		background: #fff;
		border-radius:2px;
		padding: 10px;
		width: 470px;
		border: 0;
		font-size: 14px;
		text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
		box-shadow: inset rgba(0,0,0,.4) 0 1px 1px;
	}
		
		.search-box1 input:focus, .search-box2 input:focus, .wrapper-simple input[type=text]:focus {
			outline: none;
		}
		
		input::-webkit-input-placeholder {
			font-family: 'Open Sans Condensed','Arial Narrow', serif
			font-weight: normal;
			color: #dbdbdb;
			text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
		}
		
		input:-moz-placeholder {
			font-family: 'Open Sans Condensed','Arial Narrow', serif
			font-weight: normal;
			color: #dbdbdb;
			text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
		}
		
	
.wrapper-simple input[type=text] {
	position: absolute;
	width: 1px;
	z-index: 2;
	padding-left: 2em;
	margin-left: .2em;
	margin-top: 0;
}
	
	.search-box1 img, .search-box2 img {
		opacity: .5;
		position: absolute;
		margin: 5px 0 0 -35px;
		cursor: pointer;
		-webkit-transition: 0.5s linear;
		-moz-transition: 0.5s linear;
		-ms-transition: 0.5s linear;
		-o-transition: 0.5s linear;
		transition: 0.5s linear;
	}
	
		.search-box1 img:hover, .search-box2 img:hover {
			opacity: 1;
		}

.hide-search-button {
	display: none;
}

.show-search-button {
	display: block;
}

.show-search-box {
	display: block;
}

.showed-search-box {
	display: block;
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
}

.hidden-search-box {
	-webkit-transform:	rotate3d(1,0,0,90deg) 
								translateZ(25px);
	-moz-transform:	rotate3d(1,0,0,90deg) 
								translateZ(25px);
	-ms-transform:	rotate3d(1,0,0,90deg) 
								translateZ(25px);
	transform:	rotate3d(1,0,0,90deg) 
								translateZ(25px);
}

.switch-show {
	height: 60px;
	position:absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: showBox 0.5s ease-in-out;
	-moz-animation: showBox 0.5s ease-in-out;
	-ms-animation: showBox 0.5s ease-in-out;
}

.switch-hide {
	height: 60px;
	position:absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: hideBox 0.5s ease-in-out;
	-moz-animation: hideBox 0.5s ease-in-out;
	-ms-animation: hideBox 0.5s ease-in-out;
}

.switch-show {
	height: 60px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: showBox 0.5s ease-in-out;
	-moz-animation: showBox 0.5s ease-in-out;
	-ms-animation: showBox 0.5s ease-in-out;
}

.switch-hide {
	height: 60px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: hideBox 0.5s ease-in-out;
	-moz-animation: hideBox 0.5s ease-in-out;
	-ms-animation: hideBox 0.5s ease-in-out;
}
		
@-webkit-keyframes showBox{
	0% { -webkit-transform: rotate3d(1,0,0,0); }
	100% { -webkit-transform: rotate3d(1,0,0,-90deg); }
}
		
@-moz-keyframes showBox{
	0% { -moz-transform: rotate3d(1,0,0,0); }
	100% { -moz-transform: rotate3d(1,0,0,-90deg); }
}
		
@-ms-keyframes showBox{
	0% { -ms-transform: rotate3d(1,0,0,0); }
	100% { -ms-transform: rotate3d(1,0,0,-90deg); }
}

		
@-webkit-keyframes hideBox{
	0% { -webkit-transform: rotate3d(1,0,0,-90deg); }
	100% { -webkit-transform: rotate3d(1,0,0,0); }
}

		
@-moz-keyframes hideBox{
	0% { -moz-transform: rotate3d(1,0,0,-90deg); }
	100% { -moz-transform: rotate3d(1,0,0,0); }
}

		
@-ms-keyframes hideBox{
	0% { -ms-transform: rotate3d(1,0,0,-90deg); }
	100% { -ms-transform: rotate3d(1,0,0,0); }
}


.inset_radio_btn{float: left;
height: auto;
width: 500px;
font-size:13px;}

.inset_radio_btn div.radio_btns{ float:left; width:auto; height:auto; text-align:left; line-height:30px;}
.inset_radio_btn div.radio_btns input[type=radio]{ width:auto; height:auto; box-shadow:none; vertical-align: text-top;}
.inset_radio_btn div.radio_btns span{ text-align:left; font-size:14px;}

input.style_form-search{width:22px; height:22px; position:absolute; right:20px; top:18px; margin:0; padding:0; border:none; box-shadow:none;}


.main_popup_div{ width:auto; height:auto; float:left;}
.main_popup_div p{ margin:15px 10px 0 0; padding:0 0 0 0; font-size:18px; font-style:normal; text-decoration:none; font-weight:normal; color:#009D00;}
.main_popup_div p span{ background:url(../images/success_check.png) left center no-repeat; display:block; width:36px; height:36px; float:left; padding:0 10px 0 0;}



