@charset "utf-8";img{border:none;}
p{ margin:0px; padding:0px;}
body{background:url(../images/bg.jpg) top repeat-x;margin:0;font-family: 'Open Sans', sans-serif;}
#wrapper{width:1000px;margin:0 auto;}
#wrapper .mainarea{width:1000px;height:auto;float:left;}
#wrapper .mainarea .top-header{width:1000px;float:left;height:40px;}
#wrapper .mainarea .top-header .logo-icon{width:100px;float:left;height:auto;}
#wrapper .mainarea .top-header .logo-icon img{padding:0;}
#wrapper .mainarea .top-header .toprightbox{width:auto;float:right;margin:10px 0 0 0;height:30px;line-height:17px;}
#wrapper .mainarea .top-header .toprightbox .commonbox{width:auto;float:left;margin:0 5px;}
#wrapper .mainarea .top-header .toprightbox .commonbox .imgbox{width:auto;float:left;}
#wrapper .mainarea .top-header .toprightbox .commonbox .link{width:auto;float:left;font-family:Arial;font-size:12px;color:#FFF;padding:2px 2px;}
#wrapper .mainarea .top-header .toprightbox .commonbox .link a{color:#FFF;text-decoration:none;}
#wrapper .mainarea .header{width:1000px;float:left;margin:20px 0;}
#wrapper .mainarea .header .logo{width:250px;float:left;}
#wrapper .mainarea .header .searchbox{width:522px;float:right;margin:20px 0 0 0;}
#wrapper .mainarea .header .searchbox .inputbox{width:480px;float:left;border-radius:5px 0 0 5px;font-family:Arial;font-size:12px;color:#666;padding:7px 5px;border:#000 solid 1px;}
#wrapper .mainarea .header .searchbox .submitbtn{width:100px;float:left;border-radius:0 5px 5px 0;font-family:Arial;font-size:14px;color:#FFF;padding:7px 0;text-align:center;background-color:#000;border:none;cursor:pointer;}
.selectbox-inner{width:190px;height:33px;line-height:33px;float:left;border-radius:5px;font-family:Arial;font-size:12px;color:#666;padding:5px 5px;margin:0 10px 0 0;border:#000 solid 1px;}
.inputbox-inner2{width:178px !important;float:left !important;border-radius:5px !important;font-family:Arial !important;font-size:12px !important;color:#666 !important;padding:6px 5px 5px 5px !important;border:#000 solid 1px !important;}
.searchbtn2{width:45px;float:left;border-radius:5px 5px 5px 5px;font-family:Arial;font-size:14px;color:#FFF;padding:5px 0;text-align:center;background-color:#000;border:none;cursor:pointer;margin-left:110px;}
#wrapper .mainarea .slider{width:1000px;float:left;margin:5px 0 15px 0;position:relative;height:355px;}
#wrapper .mainarea .slider .quote{width:286px;float:right;position:absolute;top:60px;right:10px;}
#wrapper .mainarea .slider .quote .quotext{font-family:Gabriola;font-size:32px;color:#000;padding:8px 0;text-align:center;text-transform:uppercase;line-height:48px;font-weight:normal;}
#wrapper .mainarea .slider .quote .quotext strong{font-size:36px;font-weight:bold;}
#wrapper .mainarea .slider .quote .quotext span{color:#ff6600;font-weight:bolder;font-size:40px;}
#wrapper .mainarea .storebox{width:1000px;float:left;margin:10px 0 15px 0;}
#wrapper .mainarea .storebox .heading{width:auto;float:left;margin:0 0 0 20px;background:#dedede;border-radius:5px;font-family:Arial;font-size:18px;color:#ff6600;text-align:center;padding:7px 15px 7px 15px;}
#wrapper .mainarea .storebox .heading img{position:relative;bottom:-19px;left:0;}
#wrapper .mainarea .storebox .storearea{width:1000px;float:left;border-top:1px solid #dedede;border-bottom:1px solid #dedede;}
#wrapper .mainarea .storebox .storearea .imgbox{width:auto;float:left;margin:10px;}
#wrapper .mainarea .categorybox{width:1000px;float:left;margin:10px 0 15px 0;}
#wrapper .mainarea .categorybox .heading{width:auto;float:left;margin:0 0 0 20px;background:#dedede;border-radius:5px;font-family:Arial;font-size:18px;color:#ff6600;text-align:center;padding:7px 15px;}
#wrapper .mainarea .categorybox .heading img{position:relative;bottom:-19px;left:0;}
#wrapper .mainarea .categorybox .boxarea{width:980px;float:left;border:#dedede solid 1px;padding:5px 10px;}
#wrapper .mainarea .categorybox .boxarea .commonbox{width:185px;float:left;margin:15px 5px 15px 5px;}
#wrapper .mainarea .categorybox .boxarea .commonbox .imgbox{width:auto;float:left;}
#wrapper .mainarea .categorybox .boxarea .commonbox .cat-head{width:190px;float:left;padding:8px 0;font-family:Arial;font-size:12px;color:#333;text-transform:uppercase;font-weight:bold;}
#wrapper .mainarea .categorybox .boxarea .commonbox .cat-head strong{color:#ff6600;}
#wrapper .mainarea .categorybox .boxarea .commonbox .subtext{font-family:Arial;font-size:10px;color:#999;text-transform:uppercase;}
#wrapper .mainarea .brandbox{width:1000px;float:left;margin:10px 0 20px 0;border:#dedede solid 1px;}
#wrapper .mainarea .brandbox .heading{width:973px;float:left;margin:3px 0 2px 3px;font-family:Arial;font-size:18px;color:#ff6600;padding:8px 10px;background:#dedede;}
#wrapper .mainarea .brandbox .logobox{width:136px;float:left;margin:10px 15px;height:auto;}
#wrapper .mainarea .brandbox .logobox .imgbox{width:auto;float:left;margin:0 2px;}
#wrapper .mainarea .brandbox .logobox .text{width:auto;float:left;font-family:Arial;font-size:13px;color:#666;padding:2px;}
.prcnt_footer{width:100%;float:left;height:auto;}
.footer{width:100%;float:left;background-color:#000;}
.footer2{width:100%;float:left;background-color:#fff;}
.subfooter{width:100%;float:left;}
.subfooter .mainfoot{width:1000px;margin:0 auto;}
.subfooter .mainfoot .footer-text{width:600px;float:left;font-family:Arial;font-size:12px;color:#999;padding:0 0 20px 0;}
.subfooter .mainfoot .logobox{width:150px;float:right;margin:0 0 10px 0;}
.stepcarousel{position:relative;overflow:scroll;width:1000px;height:100px;border-top:1px solid #dedede;border-bottom:1px solid #dedede;overflow:hidden;}
.stepcarousel .belt{position:absolute;left:0;top:0;}
.stepcarousel .panel{float:left;overflow:hidden;margin:10px;width:auto;}
#wrapper .mainarea .contentarea{width:1000px;float:left;margin:5px 0 10px 0;}
#wrapper .mainarea .contentarea .leftpanel{width:210px;float:left;margin:0;}
#wrapper .mainarea .contentarea .leftpanel .categorybox{width:210px;float:left;border:#dedede solid 1px;}
#wrapper .mainarea .contentarea .leftpanel .categorybox .heading{width:191px;float:left;margin:3px 0 3px 3px;font-family:Arial;font-size:18px;color:#ff6600;padding:10px 0 10px 12px;text-align:left;border-radius:0;}
#wrapper .mainarea .contentarea .leftpanel .categorybox .catlink{width:200px;float:left;font-family:Arial;font-size:12px;color:#666666;padding:9px 0 9px 10px;border-bottom:1px dotted #666;}
#wrapper .mainarea .contentarea .leftpanel .categorybox .catlink a{color:#666666;text-decoration:none;}
#wrapper .mainarea .contentarea .midpanel{width:550px;float:left;margin:10px 0 0 15px;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox{width:550px;float:left;margin:0 0 20px 0;border:#ccc solid 1px;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .logobox{width:140px;float:left;padding:3px;margin:10px;}
.logobox img{max-width:140px;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .detailbox{width:370px;float:left;margin:10px 0;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .detailbox .heading{font-family:Arial;font-size:18px;color:#333;padding:0 0 10px 5px;font-weight:bold;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .detailbox .heading a{font-family:Arial;font-size:18px;color:#333;font-weight:bold;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .detailbox .subtext{font-family:Arial;font-size:14px;color:#666;padding:0 0 10px 5px;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .detailbox .subtext a{font-family:Arial;margin-right:10px;text-decoration:none;color:#666;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .detailbox .subtext a:hover{color:#0000FF;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .detailbox .more{font-family:Arial;font-size:12px;color:#ff6600;font-weight:bold;padding:0 0 0 5px;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .detailbox .more a{color:#ff6600;text-decoration:underline;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .subrandbox{width:365px;float:left;margin:5px 0 10px 15px;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .subrandbox .heading{width:70px;font-family:Arial;font-size:12px;background-color:#FFF;font-weight:bold;position:relative;background:#dedede;border-radius:5px;color:#ff6600;text-align:center;padding:3px 0;margin:0 0 0 10px;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .subrandbox .divider{width:100%;float:left;border-bottom:1px solid #CCC;position:relative;top:0;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .subrandbox .imgbox{width:auto;float:left;}
#wrapper .mainarea .contentarea .midpanel .catdetailbox .subrandbox .imgbox img{padding:15px 18px 0 0;}
#wrapper .mainarea .contentarea .rightpanel{width:210px;float:right;}
#wrapper .mainarea .contentarea .rightpanel .brandbox{width:210px;float:left;border:#CCC solid 1px;}
#wrapper .mainarea .contentarea .rightpanel .brandbox .heading{float:left;margin:3px 0 3px 3px;font-family:Arial;color:#ff6600;font-size:18px;padding:10px 0 10px 12px;text-align:left;width:191px;}
#wrapper .mainarea .contentarea .rightpanel .brandbox .logonamebox{width:196px;float:left;font-family:Arial;font-size:12px;color:#999;padding:8px 0 8px 14px;border-bottom:1px solid #CCC;}
#wrapper .mainarea .contentarea .rightpanel .brandbox .logonamebox a{text-decoration:none;float:left;font-family:Arial;font-size:12px;color:#999;}
#wrapper .mainarea .contentarea .rightpanel .adspace{width:210px;height:auto;float:left;margin:10px 0;font-family:Arial;font-size:14px;color:#FFF;padding:0 0;text-align:center;}
#wrapper .mainarea .contentarea .registerheadbox{width:1000px;float:left;}
#wrapper .mainarea .contentarea .registerheadbox .heading{width:auto;float:left;margin:0 0 0 20px;background:#dedede;border-radius:5px;font-family:Arial;font-size:18px;color:#ff6600;text-align:center;padding:7px 15px;padding-left:0px;}
#wrapper .mainarea .contentarea .registerheadbox .heading img{position:relative;bottom:-20px;left:10px;}
#wrapper .mainarea .contentarea .registerheadbox .heading2{width:auto;float:left;margin:0 0 0 20px;background:#dedede;border-radius:5px;font-family:Arial;font-size:18px;color:#ff6600;text-align:center;padding:7px 15px;padding-left:0px;}
#wrapper .mainarea .contentarea .registerheadbox .heading2 a{font-family:Arial;font-size:18px;color:#ff6600;text-decoration:none;}
#wrapper .mainarea .contentarea .registerheadbox .heading2 img{position:relative;bottom:-20px;left:10px;}
#wrapper .mainarea .contentarea .registerheadbox .subtext{width:100%;float:left;border-top:1px solid #dedede;border-bottom:1px solid #dedede;font-family:Arial;font-size:14px;color:#000;padding:10px 0;line-height:22px;}
#wrapper .mainarea .contentarea .registerarea{width:1000px;float:left;margin:20px 0;background-color:#eee;}
#wrapper .mainarea .contentarea .registerarea .heading{font-family:Arial;font-size:14px;color:#00025a;padding:15px 15px 0 15px;font-weight:bold;}
#wrapper .mainarea .contentarea .registerarea .heading2{font-family:Arial;font-size:16px;color:#00025a;padding:14px 20px;font-weight:bold;}
#wrapper .mainarea .contentarea .registerarea .subarea{width:970px;float:left;margin:15px;background-color:#FFF;}
#wrapper .mainarea .contentarea .registerarea .subarea .stepbox{width:160px;float:left;margin:15px 0;font-family:Arial;font-size:36px;color:#ff6600;padding:0;text-align:center;}
#wrapper .mainarea .contentarea .registerarea .subarea .stepbox2{width:910px;margin:20px 0;font-family:Arial;font-size:15px;color:#ff6600;padding:0 0 0 30px;}
#wrapper .mainarea .contentarea .registerarea .subarea .contact_msg{margin:0;padding:0 0 0 30px;font-size:13px;color:#000;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox{width:900px;float:left;margin:5px 0 10px 30px;border-radius:10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2{width:430px;float:left;margin:5px 0 10px 30px;border-radius:10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .leftbox{width:130px;float:left;margin:20px;font-family:Arial;font-size:14px;color:#666;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox{width:730px;float:left;margin:20px 0;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox{width:auto;float:left;background-color:#00025a;font-family:Arial;font-size:16px;color:#FFF;text-align:center;padding:7px 15px;margin:0 0 10px 10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox input[type="radio"]{display:none;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox input[type="radio"] + label{color:#f2f2f2;font-family:Arial, sans-serif;font-size:14px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox input[type="radio"] + label span{display:inline-block;width:19px;height:19px;margin:-1px 4px 0 0;vertical-align:middle;background:url(../images/check_radio_sheet.png) -38px top no-repeat;cursor:pointer;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox input[type="radio"]:checked + label span{background:url(../images/check_radio_sheet.png) -57px top no-repeat;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox2{width:auto;float:left;background-color:#dfdfdf;border:#ccc solid 1px;font-family:Arial;font-size:16px;color:#333;text-align:center;padding:7px 15px;margin:0 0 10px 10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox2 a{color:#333;text-decoration:none;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox2 input[type="radio"]{display:none;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox2 input[type="radio"] + label{color:#333;font-family:Arial, sans-serif;font-size:14px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox2 input[type="radio"] + label span{display:inline-block;width:19px;height:19px;margin:-1px 4px 0 0;vertical-align:middle;background:url(../images/check_radio_sheet.png) -38px top no-repeat;cursor:pointer;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox2 input[type="radio"]:checked + label span{background:url(../images/check_radio_sheet.png) -57px top no-repeat;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox3{width:201px;float:left;background-color:#fff;border:#eee solid 1px;font-family:Arial;font-size:14px;color:#333;padding:7px 15px;margin:0 0 10px 10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox3 input[type="radio"]{display:none;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox3 input[type="radio"] + label{color:#333;font-family:Arial, sans-serif;font-size:14px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox3 input[type="radio"] + label span{display:inline-block;width:19px;height:19px;margin:-1px 4px 0 0;vertical-align:middle;background:url(../images/check_radio_sheet.png) -38px top no-repeat;cursor:pointer;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .chhosebox3 input[type="radio"]:checked + label span{background:url(../images/check_radio_sheet.png) -57px top no-repeat;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .divider{clear:both;margin:5px 0;border-bottom:1px dotted #CCC;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .trafibox{width:700px;float:left;margin:10px 0 10px 10px;background-color:#fff1e7;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .trafibox .heading{width:675px;font-family:Arial;font-size:16px;color:#666;padding:10px;border-bottom:1px dotted #999;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .trafibox .planbox{width:280px;float:left;margin:5px 0 5px 10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .trafibox .planbox label{width:auto;float:left;margin:0 5px 0 0;font-family:Arial;font-size:14px;color:#ff6600;padding:5px 0;}

#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .trafibox .planbox input{width:20px;float:left;padding:5px 0;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .trafibox .clear{clear:both;margin:2px 0;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .trafibox .plandetail{width:400px;float:left;margin:0 0 0 10px;font-family:Arial;font-size:14px;color:#999;padding:10px 0;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .trafibox .plandetail strong{color:#666;font-weight:bold;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .rightbox .proceedbtn{width:auto;float:left;margin:10px 0 10px 10px;font-family:Arial;font-size:14px;color:#FFF;padding:10px 12px;text-align:center;background-color:#000;border:none;cursor:pointer;}
.proceedbtn{width:auto;float:left;margin:10px 0;font-family:Arial;font-size:14px;color:#FFF;padding:10px 12px;text-align:center;background-color:#000;border:none;cursor:pointer;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox fieldset{width:380px !important;float:left;height:570px;margin:0px 0 10px 30px;background-color:#fff1e7;border:#ff6600 solid 1px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox fieldset legend{font-family:Arial;font-size:16px;color:#666;font-weight:bold;padding:10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox fieldset .formarea{width:360px;float:left;margin:10px 0 10px 10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox fieldset .formarea label{width:90px;float:left;margin:10px 0 10px 0;font-family:Arial;font-size:13px;color:#333;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox fieldset .formarea input{width:240px;float:left;margin:5px 0 5px 0;font-family:Arial;font-size:13px;color:#333;padding:7px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox fieldset .formarea select{width:255px;float:left;margin:5px 0 5px 0;font-family:Arial;font-size:13px;color:#333;padding:7px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox fieldset.forgot_pass-field{margin:55px 0 10px 150px;width:550px;height:auto !important;float:left;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox fieldset.forgot_pass-field .formarea textarea{width:240px;float:left;margin:5px 0 5px 0;font-family:Arial;font-size:13px;color:#333;padding:7px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .proceedbtn{width:auto;float:left;margin:10px;font-family:Arial;font-size:14px;color:#FFF;padding:10px 12px;text-align:center;background-color:#000;border:none;cursor:pointer;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox .blankspace{width:315px;float:left;clear:both;}
.main_register{width:970px;height:auto;float:left;}
.scnd_div_Detail{width:510px;height:371px;float:left;}
.scnd_div_Detail p{margin:0;padding:0;font-family:"Arial";font-size:13px;font-style:normal;font-weight:normal;text-decoration:none;color:#000;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 fieldset{width:380px;float:left;margin:20px 0 0px 30px;border:none;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 fieldset legend{font-family: 'Open Sans', sans-serif;font-size:20px;color:#000;font-weight:600;padding:10px; border:2px solid #000; border-left:0px;border-right:0px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 fieldset .formarea{width:360px;float:left;margin:10px 0 10px 10px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 fieldset .formarea label{width:90px;float:left;margin:5px 0 5px 0;font-family:"Arial";font-size:13px;color:#333;padding:5px 0 0 0;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 fieldset .formarea input{width:245px;float:left;margin:5px 0 5px 0;font-family:Arial;font-size:13px;color:#333;padding:5px;border:#CCC solid 1px;border-radius:5px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 fieldset .formarea select{width:255px;float:left;margin:5px 0 5px 0;font-family:Arial;font-size:13px;color:#333;padding:5px;border:#CCC solid 1px;border-radius:5px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 fieldset .formarea textarea{width:245px;float:left;margin:5px 0 5px 0;font-family:Arial;font-size:13px;color:#333;padding:5px;border:#CCC solid 1px;border-radius:5px;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 .proceedbtn{width:auto;float:left;margin:10px;font-family:Arial;font-size:14px;color:#FFF;padding:10px 12px;text-align:center;background-color:#000;border:none;cursor:pointer;}
#wrapper .mainarea .contentarea .registerarea .subarea .registerbox2 .blankspace{width:315px;float:left;clear:both;}
.ddimgtooltip{box-shadow:3px 3px 5px #818181;display:none;position:absolute;border:black solid 1px;background:white;color:black;z-index:2000;padding:4px;}
.bardcom{line-height:20px;padding:5px;margin-bottom:5px;}
.bardcom a{color:#ff6600;text-decoration:none;font-size:16px;}
.bardcom a:hover{text-decoration:underline;font-weight:bold;}
.brndactive{color:#ff6600;text-decoration:underline !important;font-size:16px;font-weight:bold;}
.subscribe_main{width:100%;height:auto;float:right;}
.footertext2_main{width:50%;height:auto;float:left;}
.scnd_main{width:50%;height:auto;float:right;text-align:right;}
.follow_main{width:100%;height:auto;float:right;text-align:right;}
div.footer div.footer_center{width:1000px;height:auto;margin:0 auto 0 auto;}
div.footer div.footer_center div.footer_main{width:100%;height:auto;float:left;color:#fff;background-color:#000;}
div.footer div.footer_center div.footer_main div.footer_main2_left{width:46%;height:auto;float:left;padding:2% 2%;}
div.footer div.footer_center div.footer_main div.footer_main2_left div.ul_text{width:100%;height:auto;float:left;}
div.footer div.footer_center div.footer_main div.footer_main2_left div.ul_text ul{margin:0;padding:0;list-style:none;float:left;width:45%;background:url(../image/ftr_ul_line.png) 140px no-repeat;}
div.footer div.footer_center div.footer_main div.footer_main2_left div.ul_text ul.none{margin:0;padding:0;list-style:none;float:left;width:50%;background:none;}
div.footer div.footer_center div.footer_main div.footer_main2_left div.ul_text ul li{margin:0;padding:0;line-height:30px;}
div.footer div.footer_center div.footer_main div.footer_main2_left div.ul_text ul li a{color:#FFF;font-family:"Arial";font-size:14px;font-style:normal;font-weight:normal;text-decoration:none;transition:all 0.3s ease-in-out;padding:5px 10px;}
div.footer div.footer_center div.footer_main div.footer_main2_left div.ul_text ul li a:hover{transition:all 0.3s ease-in-out;color:#000;background-color:#ff6602;}
div.footer div.footer_center div.footer_main div.footer_main2_left div.ftr_logo{width:100%;height:auto;float:left;padding:5% 0 0 0;}
div.footer div.footer_center div.footer_main div.footer_main2_right{width:50%;height:auto;float:left;}
div.footer div.footer_center div.footer_main div.footer_main2_right1{width:63%;height:auto;float:right;margin:20px 0 0 0;}
div.footer div.footer_center div.footer_main div.footer_main2_right1 input.news_box{width:200px;height:34px;float:left;line-height:25px;box-shadow:0 0 10px #000000 inset;border:none;border-radius:5px;background-color:#fff;padding:0 22px 0 10px; margin:0;}
div.footer div.footer_center div.footer_main div.footer_main2_right1 input.subscribe_btn[type="button"]{width:80px;height:34px;background-color:#ff6602;color:#fff;box-shadow:0 0 10px #000000 inset;border:none;border-radius: 0 5px 5px 0;float:left;margin:0 0 0 -10px;font-family:"Arial";transition:all 0.3s linear;}
div.footer div.footer_center div.footer_main div.footer_main2_right1 input:hover.subscribe_btn[type="button"]{background-color:#666;color:#fff;cursor:pointer;transition:all 0.3s linear;}
div.footer div.footer_center div.footer_main div.footer_main2_right2{width:45%;height:auto;float:right;margin:50px 0 0 0;}
div.footer2 div.footer_center2{width:1000px;height:auto;margin:0 auto 0 auto;}
div.footer2 div.footer_center2 div.footer_main2 div.footer_main2_left{width:50%;height:auto;float:left;line-height:50px;font-family:Arial;font-size:13px;font-style:normal;font-weight:normal;text-decoration:none;}
div.footer2 div.footer_center2 div.footer_main2 div.footer_main2_right{width:50%;height:auto;float:left;padding:12px 0 0 0;}
div.footer2 div.footer_center2 div.footer_main2{width:100%;height:auto;float:left;background-color:#fff;}
div.renewal_main{width:970px;height:auto;float:left;background-color:#f4f4f4;margin:20px 0 0 0;padding:15px;font-family:"Microsoft New Tai Lue";}
div.renewal_main div.renewal_main1{width:970px;height:auto;float:left;}
div.renewal_main div.renewal_main1 h2{margin:0;padding:0;font-size:30px;font-style:normal;font-weight:normal;text-decoration:none;color:#000;text-align:center;}
div.renewal_main div.renewal_main2{width:970px;height:auto;float:left;}
div.renewal_main div.renewal_main2 div.renewal_main2-left{width:485px;height:auto;float:left;}
div.renewal_main div.renewal_main2 div.renewal_main2-left p{margin:0;padding:0;font-size:14px;font-style:normal;font-weight:normal;color:#000;line-height:25px;}
div.renewal_main div.renewal_main2 div.renewal_main2-right{width:485px;height:auto;float:left;text-align:right;}
div.renewal_main div.renewal_main2 div.renewal_main2-right p{margin:0;padding:0;font-size:14px;font-style:normal;font-weight:normal;color:#000;line-height:25px;}
div.renewal_main div.renewal_main3{width:970px;height:auto;float:left;}
div.renewal_main div.renewal_main3 p{margin:15px 0 0 0;padding:0;font-size:14px;font-style:normal;font-weight:normal;color:#000;line-height:25px;text-align:justify;}
div.renewal_main div.renewal_main4{width:920px;height:auto;float:left;margin:10px 0;padding:0 0 0 50px;}
div.renewal_main div.renewal_main4 div{margin:20px 0;}
div.renewal_main div.renewal_main4 input[type=radio]{margin:0 5px;padding:0;}
div.renewal_main div.renewal_main4 a{text-decoration:none;font-style:normal;font-weight:normal;color:#000;}
div.renewal_main div.renewal_main5{width:970px;height:auto;float:left;}
div.renewal_main div.renewal_main5 input[type=submit]{width:137px;height:44px;background-color:#000;color:#fff;text-align:center;font-style:normal;font-weight:normal;text-decoration:none;font-size:15px;font-family:"Microsoft New Tai Lue";padding:10px 10px;transition:0.3s all linear;margin:0 0 0 50px;border:none;}
div.renewal_main div.renewal_main5 input:hover[type=submit]{background-color:#FF8000;transition:0.3s all linear;cursor:pointer;}
div.renew_submit-main{width:970px;height:320px;float:left;background-color:#f4f4f4;margin:20px 0 0 0;padding:15px;font-family:"Microsoft New Tai Lue";}
div.renew_submit-main div.renew_submit-div1{width:970px;height:auto;float:left;margin:0 0 30px 0;}
div.renew_submit-main div.renew_submit-div1 p{margin:0;padding:5px 0;font-size:15px;font-style:normal;font-weight:normal;text-decoration:none;color:#000;}
div.renew_submit-main div.renew_submit-div2{width:970px;height:auto;float:left;}
div.renew_submit-main div.renew_submit-div2 span{color:#ff8000;font-size:14px;font-style:normal;font-weight:normal;text-decoration:none;}
div.renew_submit-main div.renew_submit-div3{width:970px;height:auto;float:left;}
div.renew_submit-main div.renew_submit-div3 input[type=text]{width:200px;height:15px;border:1px solid #c6c6c6;background-color:#fff;font-size:14px;padding:10px;color:#dfdfdf;}
div.renew_submit-main div.renew_submit-div3 input:focus[type=text]{color:#000;}
div.renew_submit-main div.renew_submit-div3::input-placeholder{color:#dfdfdf;}
div.renew_submit-main div.renew_submit-div3:placeholder{color:#dfdfdf;}
div.renew_submit-main div.renew_submit-div3 div.field_div{width:350px;height:auto;float:left;}
div.renew_submit-main div.renew_submit-div3 div.status_div{width:620px;height:auto;float:left !important;}
p.red_p{margin:0px 0 0 10px !important;padding:0px !important;color:#ff0000;font-size:12px;font-style:normal;font-weight:normal;text-decoration:none;color:#900;}
p.red_p1{margin:0;padding:0;color:#ff0000;font-size:12px;font-style:normal;font-weight:normal;text-decoration:none;}
p.green_p{margin:0 !important;padding:0 !important;color:#39b54a;font-size:12px;font-style:normal;font-weight:normal;text-decoration:none;}
#defaltshow{margin:0;padding:0;line-height:40px;/*float:left; */}
div.renew_submit-main div.renew_submit-div3{width:380px;height:auto;float:left;}
div.renew_submit-main div.renew_submit-div3 div.validate_div{width:620px;height:auto;float:left;}
div.renew_submit-main div.renew_submit-div3 div.validate_div a{text-decoration:none;color:#000;font-size:14px;font-style:normal;font-weight:normal;}
div.renew_submit-main div.renew_submit-div3 div.validate_div a:hover{text-decoration:underline;}
div.renew_submit-main div.renew_submit-div3 div.discount_allow-div{width:621px;height:auto;float:left;}
div.renew_submit-main div.renew_submit-div3 div.discount_allow-div p{margin:10px 0 0 5px;padding:0;font-size:14px;font-style:normal;font-weight:normal;text-decoration:none;}
div.renew_submit-main div.renew_submit-div4{width:970px;height:auto;float:left;}
div.renew_submit-main div.renew_submit-div4 p{font-size:14px;font-style:normal;font-weight:normal;text-decoration:none;margin:20px 0 10px 5px;padding:0;}
div.renew_submit-main div.renew_submit-div4 input[type=submit]{width:220px;height:40px;color:#fff;font-size:20px;border:none;background:linear-gradient(to bottom, #666666 0%,#2e2e2e 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#2e2e2e',GradientType=0);}
div.renew_submit-main div.renew_submit-div4 input:hover[type=submit]{background:linear-gradient(to bottom, #2e2e2e 0%,#666666 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#666666',GradientType=0);cursor:pointer;}
#back-top{position:fixed;bottom:15px;right:15px;z-index:1000;}
#back-top a{width:64px;display:block;text-align:center;font:11px/100% Arial, Helvetica, sans-serif;text-transform:uppercase;text-decoration:none;color:#bbb;transition:.5s;opacity:0.3;}
#back-top a:hover{color:#000;opacity:1;}
#back-top span{width:64px;height:64px;display:block;background:url(../image/up-arrow.png) no-repeat center center;border-radius:40px;transition:1s;}
#back-top a:hover span{opacity:1;margin-bottom:10px;}
.subbutton{width:80px;height:30px;padding:5px 5px;border-radius:3px;border:none;background-color:#000;color:#fff;transition:0.3s all linear;}
.register_user-main{width:1000px;height:auto;float:left;}
.register_user_text-form{width:1000px;height:auto;float:left;font-family:"Nirmala UI";}
.register_user_text{width:1000px;height:auto;float:left;}
.register_user_text h2{margin:0;padding:10px;font-size:16px;font-style:normal;font-weight:bold;text-decoration:none;background-color:#e2e2e2;}
.register_user_text p{margin:0;padding:10px;font-size:13px;font-style:normal;font-weight:normal;text-decoration:none;background-color:#f0f0f0;}
.register_user_form{width:1000px;height:auto;float:left;margin:40px 0 0 0;}
.register_user_form h2{margin:0;padding:10px;font-size:16px;font-style:normal;font-weight:normal;text-decoration:none;color:#000;text-align:left;background-color:#CCC;}
.register_user_form table{float:left;border-collapse:collapse;}
.register_user_form table tr{}
.register_user_form table tr td{}
.register_user_form table tr td input.fld_regname{width:130px;float:none;margin:0 5px;padding:5px;border-radius:3px;border:1px solid #ccc;}
.register_user_form table tr td select.fld_regname{width:130px;float:none;margin:0 5px;padding:5px;border-radius:3px;border:1px solid #ccc;}
.register_user_form table tr td textarea.fld_regname{width:130px;float:none;margin:0 5px;padding:5px;border-radius:3px;border:1px solid #ccc;}
.register_user_form table tr td input.fld_regname.margin_none{margin-left:0;}
.register_user_form table tr td input.fld_regname.email{width:288px;margin-left:0;}
.register_user_form table tr td input.fld_regname.browser{width:288px;margin-left:0;}
.register_user_form table tr td input.fld_regname.select{width:288px;margin-left:0;}
.register_user_form table tr td input.fld_regname.pin_code{width:288px;margin-left:0;}
.register_user_form table tr td select.fld_regname.select{width:300px;margin-left:0;}
.register_user_form table tr td textarea.fld_regname.textarea{width:288px;margin-left:0;}
p.error_msg{background-color:#F00;font-family:"Microsoft New Tai Lue";font-style:normal;font-weight:normal;font-size:14px;margin:10px;padding:5px;line-height:25px;color:#fff;border-radius:5px;clear:both;}
p.success_msg{background-color:#008000;clear:both;font-family:"Microsoft New Tai Lue";font-style:normal;font-weight:normal;font-size:14px;margin:10px;padding:5px;line-height:25px;color:#fff;border-radius:5px;}

p.successmsg2 {
	color:#0aab19; align:center; background-color:#F2F2F2; padding:10px; border:1px solid #E2E2E2; border-radius:5px; margin:10px 0;
}
p.successmsg2 span.cross_imge{ background:url(../images/success_check2.png) no-repeat left center; display:block; width:20px; height:20px; float:left; margin: 0 7px 0 0px;}
p.errormsg2 {
	color:#B30000; align:center; background-color:#F2F2F2; padding:10px; border:1px solid #E2E2E2; border-radius:5px; margin:10px 5px; transition:0.3s all linear;
}
p.errormsg2 span.cross_imge{ background:url(../images/error_check2.png) no-repeat left center; display:block; width:20px; height:20px; float:left; margin: 0 7px 0 0px;}
.alert-box {
	color:#555;
	border-radius:10px;
	font-family:"Microsoft New Tai Lue";
	font-size:25px;
	padding:15px 55px;
	margin:10px;
	text-align:center;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec /*url('../images/error_check2.png') no-repeat 10px 50%*/;
	border:1px solid #f5aca6;
	color:#c4483e;
}
.success {
	background:#e9ffd9 url('../images/success_check.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
	color:#6cab3a;
}
.warning {
	background:#fff8c4 /*url('../images/warning.png') no-repeat 10px 50%*/;
	border:1px solid #f2c779;
	color:#c6963f;
}
.notice {
	background:#e3f7fc /*url('../images/notice.png') no-repeat 10px 50%*/;
	border:1px solid #8ed9f6;
	color:#3392b7;
}
.main_register h2.main_register_form_text{ font-size:14px; font-style:normal; font-family: 'Open Sans', sans-serif; color:#333; font-weight:600; text-align:justify;}
.scnd_div_Detail img{ opacity:0.5; margin:30px 0 0 25px;}
.scnd_div_Detail p.scnd_div_Detail_p_tag{ font-size:14px; font-style:normal; font-family: 'Open Sans', sans-serif; color:#333; font-weight:600; text-align:justify; margin:0 10px 0 0;}




















